.palace {
    background-image: url('images/palace.jpg');
    background-size: cover; 
    background-position: center;
    z-index: -2;
    width: 100%;
    height: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}

.tower {
    background-image: url('images/tower.jpg'); 
    background-size: cover; 
    background-position: center;
    z-index: -2;
    width: 100%;
    height: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}

.village {
    background-image: url('images/hanbok-village.jpg'); 
    background-size: cover; 
    background-position: center;
    z-index: -2;
    width: 100%;
    height: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}

#icon {
    width: 15%;
    height: auto;
    margin-left: 15px;
}

.title {
    font-family: "Bagel Fat One";
    text-align: center;
    font-size: 100px;
}

#test1 {
    width: 20px;
    height: auto;
}

/* Initially hide the "Hello" text */
.hello-text {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
  
  /* On hover over the SVG, show the "Hello" text */
.card-img-top {
    transition: opacity 0.3 ease;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;

}

.card-img-top:hover {
    opacity: 0.5
}

.carousel-caption {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}

